<header class="main-header">
    <div class="header-content">
        <div class="logos-row">
            <div class="logo-item">
                <img src="/images/logo3.png" alt="Tagoloan Community College Shield" class="logo-image">
            </div>
            <div class="logo-item">
                <img src="/images/logo2.png" alt="Tagoloan Community College" class="logo-image">
                <div class="logo-label-left">
                    <div class="logo-label-line">COLLEGE</div>
                    <div class="logo-year">2003</div>
                </div>
            </div>
            <div class="logo-item">
                <img src="/images/logo1.png" alt="TCC - Commission on Student Elections" class="logo-image">
                <div class="logo-label-right">
                    <div class="logo-label-line">TCC - COMMISSION ON</div>
                    <div class="logo-label-line">STUDENT ELECTIONS</div>
                </div>
            </div>
        </div>
        <hr class="logo-separator">
        <div class="logo-text">
            <h1>TAGOLOAN COMMUNITY COLLEGE</h1>
            <p>E-Voting System</p>
        </div>
    </div>
</header>
