<aside class="sidebar">
    <nav class="sidebar-nav" id="sidebarNav">
        <a href="/pages/dashboard/" class="nav-link active" id="dashboardLink">
            <i class="nav-icon fas fa-home"></i>
            <p>Dashboard</p>
        </a>
        
        <a href="/pages/admin/manage-elections/" class="nav-link">
            <i class="nav-icon fas fa-vote-yea"></i>
            <p>Manage Elections</p>
        </a>
        
        <a href="/pages/admin/voting-history/" class="nav-link">
            <i class="nav-icon fas fa-history"></i>
            <p>Voting History</p>
        </a>
        
        <a href="/pages/admin/manage-users/" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Manage Users</p>
        </a>
        
        <a href="/pages/admin/sub-admins/" class="nav-link">
            <i class="nav-icon fas fa-user-shield"></i>
            <p>Sub-Admins</p>
        </a>
        
        <a href="/pages/admin/analytics/" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>Analytics</p>
        </a>
        
        <a href="/pages/admin/edit-slider/" class="nav-link">
            <i class="nav-icon fas fa-images"></i>
            <p>Edit Slider</p>
        </a>
        
        <a href="/pages/admin/acc-setting/" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>Account Setting</p>
        </a>
        
        <a href="#" class="nav-link" id="logoutLink">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
        </a>
    </nav>
</aside>